body {
    margin: 25px;
    font-family: "Inter", sans-serif;
    color: #FFFF;
    background-color: #1C1C1C;
}

#card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px #2F3E53;
    width: 480px;
    padding: 50px 40px;
    background: #1F2937;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}

.green-font {
    color: #55F991;
}

#desc-p {
    color: #D5D4D8;
    margin-top: 14px;
    padding-top: 0px;
    padding-bottom: 30px;
    font-size:  17px;
}

#btn {
    background-color: #10B981;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    margin-bottom: 25px;
}

hr {
    border: 1px solid #2F3E53;
}

.pass-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.pass-output {
    display: flex;
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.pass-output p {
    color: #55F991;
}